#header{
    position: fixed;
    top: 0;
    display: flex;
    background-color: white;
}

#header-img{
    position: left;
    width: 400px;
}

#nav-bar{
    display: inline;
    padding-left: 800px;
}

#linkFeatures{
    padding-left: 100px;
}

#linkHowItWorks{
    padding-left: 100px;
}

#linkPricing{
    padding-left: 100px;
}

#submit{
    background: orange;
}

@media screen and (max-width: 200px) {
    .mediaquery{
    float: none;
    width: 100%;
    }
}

#tittle{    
    margin-top: 80px;
    text-align: center;
}

#form {
    text-align: center;
}

.featureImages{ 
    display: inline-block;
    width: 50px;
    height: 50px;
}

.FeatureInfo{
    /* float: right; */
}

.product{
border-style: solid;
border-width: 1px;
margin: 10px;
text-align: center;


}
#Pricing{
display: flex;

justify-content: center;
}

#valve{
justify-content: center;
}

button{
    background: orange;
}
iframe{
    padding-left: 30%;
    border-style: hidden;
}

#Features{
padding-left: 30%;
padding-right: 30%;}

footer{
    text-align: right;
    background: rgba(104, 104, 126, 0.473);
}